---
layout: master
title: Blog
---

<a href='http://feeds2.feedburner.com/tagaholic' class='float-right'><img src='/images/subscribe.png' alt='Subscribe to XML Feed'/></a>

<h2>Blog Post Search With <a href="/2009/03/26/what-are-machine-tags.html">Machine Tags</a></h2>
{% include tag_tree.html %}
<input value="All Posts" type="button" onclick="javascript:$('#tag_tree').html('');$('#all_posts').show()" />
<div id="tag_tree"></div>

<script type="text/javascript" charset="utf-8">
$(function() {
  displayMachineTagTreeOptions = {recordName: 'Posts'};
  $.machineTagSearch.defaultOptions = {
    jsonUrl: '/feeds/posts.json', beforeSearch: toggleSpinner, afterSearch: toggleSpinner,
    displayCallback: function(wildcard_machine_tag, records, options) {
      displayMachineTagTree(wildcard_machine_tag, records, options); $('#all_posts').hide();}
  };
  $.machineTagSearchLocation();
});
</script>
  
<div id="all_posts">
<table>
  <caption>All Posts</caption>
  <thead>
    <tr>
      <th>Posts</th>
      <th>Tags</th>
      <th>Date</th>
      <th width='90'>Comments</th>
    </tr>
  </thead>
  <tbody>
  {% for post in site.posts %}
  <tr>
    <td>
      <a class='float-right' href='javascript:void($("#description_{{forloop.index}}").toggle())'>Description</a>
      <a href='{{ post.url }}'>{{ post.title }}</a>
      <div id="description_{{forloop.index}}" class='table_post_description'>
        {% if post.description %}{{post.description}}{% else %}No description.{% endif %}
      </div>
    </td>
    <td>{% include tag_links.html%}</td>
    <td>{{ post.date | date_to_string }}</td>
    <td><a href='{{post.url}}#disqus_thread'>Comments</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>

{% comment %}
{% for post in site.posts %}
  {% if forloop.index < page.full_posts %}
  <div class='post'>
    <span class='date'>{{post.date | date_to_string}}</span>
    <h1><a href='{{post.url}}'>{{post.title}}</a></h1>
    <div class='body'>{{post.content}}</div>
    <a href='{{post.url}}#disqus_thread'>View Comments</a>
  </div>
  {% endif %}
{% endfor %}
{% endcomment %}
<p/>
<div style="font-size: 12px; color: #0E51A7">Yes, the dates on those last posts are correct. They were ported over from my old domain, chwhat.com</div>
