{% if page.keywords %}
  {% assign keywords = page.keywords %}
{% else %}
  {% assign keywords = 'Gabriel Horner, tags, machine tags, semantic tags, rails, ruby, github, tagging, outline, tree' %}
{% endif %}
{% if page.description %}
  {% assign description = page.description %}
{% else %}
  {% assign description = "Gabriel Horner's thoughts on tagging, ruby, rails and better knowledge management." %}
{% endif %}
<meta name="keywords" content="{{keywords | xml_escape| truncate: 160}}" />
<meta name="description" content="{{description | strip_html | xml_escape| truncate: 160}}" />