---
layout: master
---
<script src="/javascripts/jquery.machineTag.js"></script>
<div class='post'>
  <span class='date'>{{page.date | date_to_string}}</span>
  {% if page.time %}
  <span class='date'>at {{page.time}}</span>
  {% endif %}
  {% if page.tags %}
  <span class='tags'> Tagged With
  <a class='machine_tag_toggle collapsed' href="javascript:toggleMachineTags()">
    &nbsp;&nbsp;&nbsp;
  </a>
  &nbsp;
  {% assign post = page %}{% include tag_links.html %}
  </span>
  {% endif %}
  <h1><a href='{{page.url}}'>{{page.title}}</a></h1>
  <div class='body'>{{ content }}</div>
</div>
<script type="text/javascript" charset="utf-8">
$("a.machine_tag_search").hideMachineTags();
function toggleMachineTags() {
  var machine_tag_prefixes = $("span.machine_tag_prefix");
  if (machine_tag_prefixes[0].style.display == 'none') {
    $(machine_tag_prefixes).show();
    $("a.machine_tag_toggle").removeClass("collapsed").addClass("expanded");
  }
  else {
    $(machine_tag_prefixes).hide();
    $("a.machine_tag_toggle").removeClass("expanded").addClass("collapsed");
  }
};
</script>

{% comment %}
{% if page.tags %}
{% assign post_limit = 4 %}
{% assign post_count = 1 %}
<div class="related">
  <h3>Similarly Tagged Posts</h3>
  <table class="post-list">
    {% for post in site.posts %}
      {% assign already_tagged = false %}
    {% for tag in page.tags %}
    {% if post.tags contains tag and post_count < post_limit and already_tagged == false %}
      {% assign already_tagged = true %}
      {% assign post_count = post_count + 1 %}
      <tr>
        <th><a href='{{ post.url }}'>{{ post.title }}</a></th>
        <td>{{ post.date | date_to_string }}</td>
        <td><a href='{{post.url}}#disqus_thread'>Comments</a></td>
      </tr>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </table>
</div>
{% endif %}
{% endcomment %}
<div>  
<img src="http://static.delicious.com/img/delicious.small.gif" height="10" width="10" alt="Delicious" />
<a href="http://delicious.com/save" onclick="window.open('http://delicious.com/save?v=5&amp;noui&amp;jump=close&amp;url='+encodeURIComponent(location.href)+'&amp;title='+encodeURIComponent(document.title), 'delicious','toolbar=no,width=550,height=550'); return false;"> Bookmark this on Delicious</a>
</div>
<div id="disqus_thread"></div>
<script type="text/javascript" src="http://disqus.com/forums/tagaholic/embed.js"></script>
<noscript><a href="http://tagaholic.disqus.com/?url=ref">View the discussion thread.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
