---
layout: master
---
<script src="/javascripts/jquery.machineTag.js"></script>
<div class='post'>
  <span class='date'>{{page.date | date_to_string}}</span>
  {% if page.time %}
  <span class='date'>at {{page.time}}</span>
  {% endif %}
  {% if page.tags %}
  <span class='tags'> Tagged With
  <a class='machine_tag_toggle collapsed' href="javascript:toggleMachineTags()">
    &nbsp;&nbsp;&nbsp;
  </a>
  &nbsp;
  {% assign post = page %}{% include tag_links.html %}
  </span>
  {% endif %}
  <h1><a href='{{page.url}}'>{{page.title}}</a></h1>
  <div class='body'>{{ content }}</div>
</div>
<script type="text/javascript" charset="utf-8">
$("a.machine_tag_search").hideMachineTags();
function toggleMachineTags() {
  var machine_tag_prefixes = $("span.tags span.machine_tag_prefix");
  if (machine_tag_prefixes[0].style.display == 'none') {
    $(machine_tag_prefixes).show();
    $("a.machine_tag_toggle").removeClass("collapsed").addClass("expanded");
  }
  else {
    $(machine_tag_prefixes).hide();
    $("a.machine_tag_toggle").removeClass("expanded").addClass("collapsed");
  }
};
</script>

<div id="share_actions">
<span style="font-weight:bold; font-size:120%; padding-right:15px">Enjoyed this post? Tell others!</span>
<a href="javascript:window.location=%22http://news.ycombinator.com/submitlink?u=%22+encodeURIComponent(document.location)+%22&t=%22+encodeURIComponent(document.title)"><img src="http://ycombinator.com/favicon.ico" alt="hacker news"/>Hacker News</a> |
<a href="http://twitter.com/timeline/home?status=" onclick="window.open('http://twitter.com/timeline/home?status='+encodeURIComponent(location.href), 'twitter', 'toolbar=no,width=550,height=550'); return false;"><img src="http://twitter.com/favicon.ico" alt="twitter"/>Twitter</a> |
<a href="http://delicious.com/save" onclick="window.open('http://delicious.com/save?v=5&amp;noui&amp;jump=close&amp;url='+encodeURIComponent(location.href)+'&amp;title='+encodeURIComponent(document.title), 'delicious','toolbar=no,width=550,height=550'); return false;"> <img src="http://static.delicious.com/img/delicious.small.gif" height="14" width="14" alt="Delicious" />Delicious</a> |
<a href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false;"> <img src="http://www.reddit.com/static/spreddit1.gif" alt="reddit" border="0" />Reddit</a>
</div>
<div id="related_tag" style="display:none">{% if page.related_tag %}{{page.related_tag}}{% else %}{{page.tags[0]}}{% endif %}</div>
<div id="related_posts" class="related">
</div>

<div id="disqus_thread"></div>
<script type="text/javascript" src="http://disqus.com/forums/tagaholic/embed.js"></script>
<noscript><a href="http://tagaholic.disqus.com/?url=ref">View the discussion thread.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

<script type="text/javascript" charset="utf-8">
  function displayRelatedPosts(wildcard, related_posts) {
    var related_posts = $.grep(related_posts, function(e) { return !location.href.match(e.url) }).reverse().slice(0,3);
    var table = "<h3>Related Posts</h3>" + "<table class='post-list'>" +
    related_posts.map( function(e) {
      return "<tr>" + "<th><a href='"+e.url+"'>"+e.title+"</a></th>"+ 
      "<td><span class='table_tag_description'>tagged with</span></td><td>" +
      e.tags.map( function(tag) { return "<a class='machine_tag_search' href='/blog.html#"+tag+"'>"+tag+"</a>" }).join(', ') +
      "</td></tr>";
    }).join("\n") + "</table>";
    $('#related_posts').html(table);
    $("td a.machine_tag_search").hideMachineTags();
  }
  
  $( function() {
    $.machineTagSearch($('#related_tag').text(), {jsonUrl: "/feeds/posts.json", displayCallback: displayRelatedPosts, appendHash: false});
  });
</script>
